# **Python list**

**Python lists are like containers.**

Consider a varibale "Flower". Now, in this variable we can store only a single thing i.e.,

Flower = "Sunflower"

But, if we wish to store more than one element in this variable we can't.

*This limitation introduces something called "List" in python, which allows us to store more than one element in it.*

### **Introduction to list**

List is a collection of things enclosed in a SQUARE BRACKET and seperated by commas

Example,
list1 = ["a", 100, 0.10]



> #### <u>**Facts about list:**</u>

**1. List is dynamically sized array!**
<br>  _Meaning you can add or remove elements at runtime without defining a fixed size beforehand._

**2. Can stores sequence of various data types.**
<br>  _A single list can contain many data types like int, str, boolean, float, objects._

**3. Not homogenous, its heterogenous!**
<br>  _Lists are not restricted to a single data type... a single list can contain multiple types of elements._

> #### <u>**Charcteristics of list:**</u>

**1. Ordered list :**  
    _which says elements in the list have fixed position._

**2. Lists are Mutable :**  
    _which means alterations/changes are possible, you can modify list content (e.g., adding, removing, or updating elements)._

**3. Duplicates allowed :**  
    _lists can have duplicate elements!_

**4. List Indexing helping access the elements stored in a list :**  
   _which means you can access elements using their position (offset)._  
   * The first element has an index of 0

   * <u>Indexing</u> :  It's a shift or offset from start; usually indexing begins from 0. To conclude why,  
   let's consider this:

        `list_a` = [1, 2, 3, 4, 5, 6]  

        | Index             | 0   | 1   | 2   | 3   | 4   | 5   |
        |-------------------|-----|-----|-----|-----|-----|-----|
        | Element of list_a | 1   | 2   | 3   | 4   | 5   | 6   |

        ```python
        print(list_a[0])
        O/p : 1
        ```

**5. Negative indexing support :**  
   _which says you can access elements using negative indexes, counting from the end._  
   Consider `list_a` from above for negative indexing:  

   | Negative indexing    | -6  | -5  | -4  | -3  | -2  | -1  |
   |----------------------|-----|-----|-----|-----|-----|-----|
   | Element of list_a    | 1   | 2   | 3   | 4   | 5   | 6   |

**6. List can be quantified :**  
    _the `len()` function gives the number of elements present in a list._  
    _no matter how big your list is, you can easily find the length of your list, the elements present in your list!_

**7. List supports slicing :**  
    _which implements list allows to retrieve a subset of elements using slicing `(list[start:end])`_

<u> Slicing can be done in 2 main formats:</u>  

a. `[start:end]` : This slice starts at the start index and goes up to, but does not include, the end index.  
    - `start`: The index at which the slice begins (inclusive).  
    - `end`: The index at which the slice ends, that index is excluded or else for end we can consider length till we want to consider the elements of the list.  

```python
lst = [0, 1, 29, 13, 78, 95, 46]  
sliced_lst = lst[2:5]  
Output: [29, 13, 78]
```
b. `[start:end:stride]` : This adds a third argument called stride, which determines how many steps to take between each element.  
    - `stride`: A step size, which can be positive or negative. If negative, it reverses the direction of the slice.

```python
lst = [0, 1, 29, 13, 78, 95, 46]  
sliced_lst = lst[2:7:2]  
Output: [29, 78, 46]
```

**8. List can be sorted :**  
    _which means you can sort the list in ascending `(list.sort())` or descending order `(list.sort(reverse=True))`_

**9. List can be revered :**  
    _This implements the order of elements can be revered using `list.reverse()`_

**10. List can give Min and Max element, if all elements have a uniform and comparable data type, such as only integers, only floats, or only strings :**  
    _which indicates if you use `(min(list))` it will find the smallest and if you use `(max(list))` it will find the largest element from the list._

**11. List supports appending :**  
    _add a single element to the end of the list using `list.append(x)`_  
    _If you want to add something to your list, you can use append simply, this will add elements to the end of the list!_  

**12. List supports inserting of elements at a specific position :**  
    _insert adds an element at a specific position in list using `list.insert(index, value)`_  
    _If you want to add an element at a specific position in a list, you can use insert function to do so!_

**13. List supports extending :**  
    _extending allows to add multiple elements together at the end of the list using `list.extend([x, y, z])`_  
    _If you want to add multiple elements then use extend!_

### **Different lists and using indexing to access the elements!**

In [1]:
int_list = [23, 78, 100, 29987, 1, 0]
print(f"Int data type list : {int_list}")
print("First element from int list : ", int_list[0])
print(f"Last element from int list : {int_list[-1]}")
print(f"Length of the int list : {len(int_list)}")
print()

string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
print(f"String data type list : {string_list}")
print(f"First element of str list : {string_list[0]}")
print(f"Last element of string list: {string_list[-1]}")
print(f"length of the str list : {len(string_list)}")
print()

boolean_list = [True, False]
print(f"Boolean data type list : {boolean_list}")
print(f"First element of boolean list : {boolean_list[0]}")
print(f"Second element of boolean list : {boolean_list[1]}")
#print(f"Last element of boolean list : {boolean_list[-3]}")
print(f"Length of the boolean list : {len(boolean_list)}")
print()

float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
print(f"float data type list : {float_list}")
print(f"Fourth element of float_list : {float_list[3]}")
print(f"Second last element of float list : {float_list[-2]}")
print(f"Length of the float list : {len(float_list)}")
print()

all_datatype_list = ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"]
print(f'All mixed data type list : {all_datatype_list}')
print(f"Fourth last element of all_datatype_list : {all_datatype_list[-4]}")
print(f"Length of mixed data type list : {len(all_datatype_list)}")

Int data type list : [23, 78, 100, 29987, 1, 0]
First element from int list :  23
Last element from int list : 0
Length of the int list : 6

String data type list : ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
First element of str list : mahira
Last element of string list: Pen
length of the str list : 6

Boolean data type list : [True, False]
First element of boolean list : True
Second element of boolean list : False
Length of the boolean list : 2

float data type list : [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
Fourth element of float_list : 99.1
Second last element of float list : 0.006
Length of the float list : 6

All mixed data type list : ['hello', 956, 0.03, 'welcome', True, 78.0, 9.21, 55, False, 'SUCCESS']
Fourth last element of all_datatype_list : 9.21
Length of mixed data type list : 10

#### **Using Slicing**

In [2]:
sample_university_data = ["Suman", 233, 9.5, True, "Abhinav", 449, 3.31, False, "Mahira", 160, 6.09, True]
lst = sample_university_data # for quick short access we are storing our main database to a list lst
print(f"Sample univerity data list : {lst}")

Sample univerity data list : ['Suman', 233, 9.5, True, 'Abhinav', 449, 3.31, False, 'Mahira', 160, 6.09, True]

In [3]:
print("Length of sample university list :", len(lst))

Length of sample university list : 12

In [4]:
print(f"lst[:] slicing prints the list as it is : {lst[:]}")
print(f"lst[1:] prints everything except first element : {lst[1:]}")
print(f"lst[:-1] prints everything except last element : {lst[:-1]}")

lst[:] slicing prints the list as it is : ['Suman', 233, 9.5, True, 'Abhinav', 449, 3.31, False, 'Mahira', 160, 6.09, True]
lst[1:] prints everything except first element : [233, 9.5, True, 'Abhinav', 449, 3.31, False, 'Mahira', 160, 6.09, True]
lst[:-1] prints everything except last element : ['Suman', 233, 9.5, True, 'Abhinav', 449, 3.31, False, 'Mahira', 160, 6.09]

In [5]:
print("Abhinav's data :",lst[4:8])
print("Suman's data :", lst[0:4])
print(f"Mahira's data : {lst[8:12]}")

Abhinav's data : ['Abhinav', 449, 3.31, False]
Suman's data : ['Suman', 233, 9.5, True]
Mahira's data : ['Mahira', 160, 6.09, True]

In [6]:
print(f"All data except Suman's data : {lst[4:]}")
print(f"All data except Mahira's data : {lst[:8]}")

All data except Suman's data : ['Abhinav', 449, 3.31, False, 'Mahira', 160, 6.09, True]
All data except Mahira's data : ['Suman', 233, 9.5, True, 'Abhinav', 449, 3.31, False]

In [7]:
print(f"lst[::] prints the complete list : {lst[::]}")
print(f"lst[0::2] prints elements with a stride of 2 : {lst[0::2]}")
print(f"lst[0::3] prints elements from start with stride 3 (3 steps) : {lst[0::3]}")

lst[::] prints the complete list : ['Suman', 233, 9.5, True, 'Abhinav', 449, 3.31, False, 'Mahira', 160, 6.09, True]
lst[0::2] prints elements with a stride of 2 : ['Suman', 9.5, 'Abhinav', 3.31, 'Mahira', 6.09]
lst[0::3] prints elements from start with stride 3 (3 steps) : ['Suman', True, 3.31, 160]

In [8]:
print(f"All student names present in the list : {lst[0:12:4]}")
print(f"Corresponding roll no. of those students : {lst[1:12:4]}")
print(f"Corresponding Grade point of those students : {lst[2:12:4]}")
print(f"Did that student passed? (corresponding pass status - True/False) : {lst[3:12:4]}")

All student names present in the list : ['Suman', 'Abhinav', 'Mahira']
Corresponding roll no. of those students : [233, 449, 160]
Corresponding Grade point of those students : [9.5, 3.31, 6.09]
Did that student passed? (corresponding pass status - True/False) : [True, False, True]

#### **Sorting, reversing of list**

| Feature                     | `list.sort()`           | `list.sort(reverse=True)`   |
|-----------------------------|-------------------------|-----------------------------|
| **_Purpose_**                 | Ascending order         | Descending order            |
| **_Effect on List_**          | Modifies in-place        | Modifies in-place           |
| **_Element Comparison_**      |           ✅      | ✅                    |
| **_Example_**                 | `[3, 1, 4, 2].sort()`    | `[3, 1, 4, 2].sort(reverse=True)` |
| **_Result_**                  | `[1, 2, 3, 4]`          | `[4, 3, 2, 1]`              |

In [9]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]

In [10]:
int_list.sort()
print(f"Ordering int list [23, 78, 100, 29987, 1, 0] in ascending order using sort ➜ {int_list}")
print()

string_list.sort()
print(f"Ordering string list ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen'] in ascending order using sort ➜ {string_list}")
print()

boolean_list.sort()
print(f"Ordering boolean list [True, False] in ascending order using sort ➜ {boolean_list}")
print()

float_list.sort()
print(f"Ordering float list [12.0, 89.99, 78.88, 99.1, 0.006, 0.5] in ascending order using sort ➜ {float_list}")
print()

Ordering int list [23, 78, 100, 29987, 1, 0] in ascending order using sort ➜ [0, 1, 23, 78, 100, 29987]

Ordering string list ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen'] in ascending order using sort ➜ ['Maths', 'Pen', 'Physics', 'book', 'mahira', 'science']

Ordering boolean list [True, False] in ascending order using sort ➜ [False, True]

Ordering float list [12.0, 89.99, 78.88, 99.1, 0.006, 0.5] in ascending order using sort ➜ [0.006, 0.5, 12.0, 78.88, 89.99, 99.1]

In [11]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]

In [12]:
int_list.sort(reverse = True)
print(f"Ordering int list [23, 78, 100, 29987, 1, 0] in descending order using sort(reverse = True) ➜ {int_list}")
print()

string_list.sort(reverse = True)
print(f"Ordering string list ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen'] in descending order using sort(reverse = True) ➜ {string_list}")
print()

boolean_list.sort(reverse = True)
print(f"Ordering boolean list [True, False] in descending order using sort(reverse = True) ➜ {boolean_list}")
print()

float_list.sort(reverse = True)
print(f"Ordering float list [12.0, 89.99, 78.88, 99.1, 0.006, 0.5] in descending order using sort(reverse = True) ➜ {float_list}")
print()

Ordering int list [23, 78, 100, 29987, 1, 0] in descending order using sort(reverse = True) ➜ [29987, 100, 78, 23, 1, 0]

Ordering string list ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen'] in descending order using sort(reverse = True) ➜ ['science', 'mahira', 'book', 'Physics', 'Pen', 'Maths']

Ordering boolean list [True, False] in descending order using sort(reverse = True) ➜ [True, False]

Ordering float list [12.0, 89.99, 78.88, 99.1, 0.006, 0.5] in descending order using sort(reverse = True) ➜ [99.1, 89.99, 78.88, 12.0, 0.5, 0.006]

| Feature                   | `list.sort(reverse=True)`          | `list.reverse()`             |
|---------------------------|-------------------------------------|------------------------------|
| **Purpose**               | Sort the list in descending order  | Reverse the current order    |
| **Behavior**              | Sorting (based on element values)  | Flipping (no value comparison) |
| **Element Comparison**    | Required                          | Not required                 |
| **Order Dependency**      | Independent of current order       | Dependent on current order   |

In [13]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
all_datatype_list = ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"]

In [14]:
int_list.reverse()
print(f"Reversed (flipped) int list [23, 78, 100, 29987, 1, 0] ➜ {int_list}")
print()

string_list.reverse()
print(f"Reversed (flipped) string list ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen'] ➜ {string_list}")
print()

boolean_list.reverse()
print(f"Reversed (flipped) boolean list [True, False] ➜ {boolean_list}")
print()

float_list.reverse()
print(f"Reversed (flipped) float list [12.0, 89.99, 78.88, 99.1, 0.006, 0.5] ➜ {float_list}")
print()

all_datatype_list.reverse()
print(f"Reversed (flipped) list of mixed data type elements ['hello', 956, 0.03, \"welcome\", True, 78.00, 9.21, 55, False, \"SUCCESS\"] ➜ {all_datatype_list}")
print()

Reversed (flipped) int list [23, 78, 100, 29987, 1, 0] ➜ [0, 1, 29987, 100, 78, 23]

Reversed (flipped) string list ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen'] ➜ ['Pen', 'science', 'Maths', 'Physics', 'book', 'mahira']

Reversed (flipped) boolean list [True, False] ➜ [False, True]

Reversed (flipped) float list [12.0, 89.99, 78.88, 99.1, 0.006, 0.5] ➜ [0.5, 0.006, 99.1, 78.88, 89.99, 12.0]

Reversed (flipped) list of mixed data type elements ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"] ➜ ['SUCCESS', False, 55, 9.21, 78.0, True, 'welcome', 0.03, 956, 'hello']

#### **Maximum and Minimum from list**

In [15]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]

In [16]:
print(f"Maximum of int list : {max(int_list)}")
print(f"Minimum of int list : {min(int_list)}")
print()

print(f"Maximum of string list : {max(string_list)}")
print(f"Minimum of string list : {min(string_list)}")
print()

print(f"Maximum of boolean list : {max(boolean_list)}")
print(f"Minimum of boolean list : {min(boolean_list)}")
print()

print(f"Maximum of float list : {max(float_list)}")
print(f"Minimum of float list : {min(float_list)}")
print()

Maximum of int list : 29987
Minimum of int list : 0

Maximum of string list : science
Minimum of string list : Maths

Maximum of boolean list : True
Minimum of boolean list : False

Maximum of float list : 99.1
Minimum of float list : 0.006

#### **Appending list**

In [17]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
all_datatype_list = ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"]

In [18]:
int_list.append(654) #int_list[len(int_list):] = [654] or int_list.insert(len(int_list), 654)
print(f"Adding 654 to int list using append : {int_list}")
print()

string_list.append("notes") #string_list[len(string_list):] = ["notes"] or string_list.insert(len(string_list), "notes")
print(f"Adding 'notes' to string list : {string_list}")
print()

boolean_list.append(True) #boolean_list[len(boolean_list):] = [True] or boolean_list.insert(len(boolean_list), True)
print(f"Adding True value to boolean data tye : {boolean_list}")
print()

float_list.append(0.0125) #float_list[len(float_list):] = [0.0125] or float_list.insert(len(float_list), 0.0125)
print(f"Adding a float value to float_list : {float_list}")
print()

all_datatype_list.append("coffee") # all_datatype_list[len(all_datatype_list):] = "coffee" or all_datatype_list.insert(len(all_datatype_list), "coffee")
all_datatype_list.append(50.9) # all_datatype_list[len(all_datatype_list):] = 50.9 or all_datatype_list.insert(len(all_datatype_list), 50.9)
print(f"Mixed data type list after appending values : {all_datatype_list}")
print()

Adding 654 to int list using append : [23, 78, 100, 29987, 1, 0, 654]

Adding 'notes' to string list : ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen', 'notes']

Adding True value to boolean data tye : [True, False, True]

Adding a float value to float_list : [12.0, 89.99, 78.88, 99.1, 0.006, 0.5, 0.0125]

Mixed data type list after appending values : ['hello', 956, 0.03, 'welcome', True, 78.0, 9.21, 55, False, 'SUCCESS', 'coffee', 50.9]

#### **Inserting in list**

In [19]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
all_datatype_list = ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"]

In [20]:
int_list.insert(3, 654)
print(f"Int list after inserting 654 at position 4 (index 3) : {int_list}")
print()

string_list.insert(0, "notes")
print(f"Inserting 'notes' to string list at 0th index (making 1st element) : {string_list}")
print()

boolean_list.insert(2, True)
print(f"Boolean list after inserting True at position 3 (index 2) : {boolean_list}")
print()

float_list.insert(6, 0.0125)
print(f"Float list after inserting 0.0125 at position 7 (index 6) : {float_list}")
print()

all_datatype_list.insert(5, "coffee")
#all_datatype_list.insert(2,50.9)
print(f"Mixed data type list after inserting 'coffee' at 6th position : {all_datatype_list}")
print()

Int list after inserting 654 at position 4 (index 3) : [23, 78, 100, 654, 29987, 1, 0]

Inserting 'notes' to string list at 0th index (making 1st element) : ['notes', 'mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']

Boolean list after inserting True at position 3 (index 2) : [True, False, True]

Float list after inserting 0.0125 at position 7 (index 6) : [12.0, 89.99, 78.88, 99.1, 0.006, 0.5, 0.0125]

Mixed data type list after inserting 'coffee' at 6th position : ['hello', 956, 0.03, 'welcome', True, 'coffee', 78.0, 9.21, 55, False, 'SUCCESS']

#### **Using extend to add multiple elements in a list**

In [21]:
int_list.extend([99, 654, 41, 33, 1])
print(f"Adding multiple elements to int list : {int_list}")
print()

string_list.extend(["novels", "sketching", "notes"])
print(f"Adding multiple elements to string list : {string_list}")
print()

boolean_list.extend([True, False, False, True, False])
print(f"Adding multiple elements to boolean list : {boolean_list}")
print()

float_list.extend([7388.0099999, 0.000001000, 9.9, 11111111111111111111.344443333])
print(f"Adding multiple elements to float list : {float_list}")
print()

all_datatype_list.extend([5, True, "coffee", 56, "flowers", 2.009, False, 100731901232])
#all_datatype_list.insert(2,50.9)
print(f"Adding multiple elements to mixed data type list : {all_datatype_list}")
print()

Adding multiple elements to int list : [23, 78, 100, 654, 29987, 1, 0, 99, 654, 41, 33, 1]

Adding multiple elements to string list : ['notes', 'mahira', 'book', 'Physics', 'Maths', 'science', 'Pen', 'novels', 'sketching', 'notes']

Adding multiple elements to boolean list : [True, False, True, True, False, False, True, False]

Adding multiple elements to float list : [12.0, 89.99, 78.88, 99.1, 0.006, 0.5, 0.0125, 7388.0099999, 1e-06, 9.9, 1.111111111111111e+19]

Adding multiple elements to mixed data type list : ['hello', 956, 0.03, 'welcome', True, 'coffee', 78.0, 9.21, 55, False, 'SUCCESS', 5, True, 'coffee', 56, 'flowers', 2.009, False, 100731901232]

#### **Remove, Pop and clear elements from list**

In [22]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
all_datatype_list = ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"]

In [23]:
int_list.remove(100)
print(int_list)

string_list.remove("science")
print(string_list)

[23, 78, 29987, 1, 0]
['mahira', 'book', 'Physics', 'Maths', 'Pen']

In [24]:
int_list = [23, 78, 100, 29987, 1, 0]
string_list = ['mahira', 'book', 'Physics', 'Maths', 'science', 'Pen']
boolean_list = [True, False]
float_list = [12.0, 89.99, 78.88, 99.1, 0.006, 0.5]
all_datatype_list = ['hello', 956, 0.03, "welcome", True, 78.00, 9.21, 55, False, "SUCCESS"]

In [25]:
boolean_list.pop() # similar to boolean_list.pop(-1)
print(f"boolean_list.pop() removes last element from the list : {boolean_list}")

string_list.pop(0)
print(f"string_list.pop(0) removes element at 0th index or 1st element : {string_list}")

int_list.pop(1)
print(f"int_list.pop(1) removes element at index 1 : {int_list}")

float_list.pop(-2)
print(f"float_list.pop(-2) removes 2nd last element of the list i.e., element at -2 index : {float_list}")

boolean_list.pop() removes last element from the list : [True]
string_list.pop(0) removes element at 0th index or 1st element : ['book', 'Physics', 'Maths', 'science', 'Pen']
int_list.pop(1) removes element at index 1 : [23, 100, 29987, 1, 0]
float_list.pop(-2) removes 2nd last element of the list i.e., element at -2 index : [12.0, 89.99, 78.88, 99.1, 0.5]

In [26]:
boolean_list.clear()
print("Boolean list after using clear function : ", boolean_list)

float_list.clear()
print("Float list after using clear function : ", float_list)

Boolean list after using clear function :  []
Float list after using clear function :  []

In [27]:
list_a = [0, 78, 56, 38, 23, 89, 45, 49, 56, 38, 47, 56]
print(list_a.count(56))

3

In [28]:
print(list_a.index(56))
print(list_a.index(56, 5))
print(list_a.index(56, 9))

2
8
11


**14. List supports concatenation :**  
    _which suggests you can combine two or more lists using the `+` operator._

**15. List supports multiplication :**  
    _which suggests you can repeat the elements of a list multiple times using the `*` operator._  

**16. List supports membership testing :**  
    _which suggests you can check if an element exists in a list using the `in` keyword._