In [3]:
tuple1= (90, 89, -45, 60, -23, 17)
print(tuple1)

tuple2 = ('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita')
print(tuple2)

tuple3 = (56, False, 'Precia', 3.44, 'Mahima', -0.089999)
print(tuple3)

(90, 89, -45, 60, -23, 17)
('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita')
(56, False, 'Precia', 3.44, 'Mahima', -0.089999)

In [2]:
tuple4 = (1000)
print(f"When we try to store a single value/element in a tuple like tuple4 = ({tuple4}) \
it's actually not a tuple, rather it gets stored as an integer intead of tuple, \
see tuple4 type = {type(tuple4)}")

print()

tuple5 = (1000,)
print(f"But if we keep single value with a comma in a tuple, like tuple5 = {tuple5} \
it gets stored as tuple, tuple5 type = {type(tuple5)}")

When we try to store a single value/element in a tuple like tuple4 = (1000) it's actually not a tuple, rather it gets stored as an integer intead of tuple, see tuple4 type = <class 'int'>

But if we keep single value with a comma in a tuple, like tuple5 = (1000,) it gets stored as tuple, tuple5 type = <class 'tuple'>

In [4]:
tuple3 = (56, False, 'Precia', 3.44, 'Mahima', -0.089999)
print("length of tuple3 = ", len(tuple3))
print("Element at 3rd index (4th position in tuple3) : ", tuple3[3])

length of tuple3 =  6
Element at 3rd index (4th position in tuple3) :  3.44

## Duplicates allowed âœ…

In [35]:
tuple6 = ("Mahira", "Fridous", "Anurag", "Sai", "Mahira", "Kunal", "Anurag")
print("tuple6 contains 2 names being repeated, tuple 6 = ", tuple6)
print(tuple6.count('Anurag'))

tuple6 contains 2 names being repeated, tuple 6 =  ('Mahira', 'Fridous', 'Anurag', 'Sai', 'Mahira', 'Kunal', 'Anurag')
2

## Slicing

In [18]:
tuple6 = ("Mahira", "Fridous", "Anurag", "Sai", "Mahira", "Kunal", "Anurag")
print(tuple6[4:])
print(tuple6[:])
print(tuple6[:5])
print(tuple6[3:])
print(tuple6[::2])
print(tuple6[::3])

('Mahira', 'Kunal', 'Anurag')
('Mahira', 'Fridous', 'Anurag', 'Sai', 'Mahira', 'Kunal', 'Anurag')
('Mahira', 'Fridous', 'Anurag', 'Sai', 'Mahira')
('Sai', 'Mahira', 'Kunal', 'Anurag')
('Mahira', 'Anurag', 'Mahira', 'Anurag')
('Mahira', 'Sai', 'Anurag')

## Nested tuples!

In [23]:
tuple2 = ('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita')
tuple3 = (56, False, 'Precia', 3.44, 'Mahima', -0.089999)
tuple7 = ("Sai", "Mahira", "Kunal", "Anurag")

tuple8 = (tuple2, tuple3, tuple7)
print(tuple8)

print()
tuple9 = (tuple2, tuple3, tuple7, 10, True, "Tree")
print(tuple9)

(('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita'), (56, False, 'Precia', 3.44, 'Mahima', -0.089999), ('Sai', 'Mahira', 'Kunal', 'Anurag'))

(('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita'), (56, False, 'Precia', 3.44, 'Mahima', -0.089999), ('Sai', 'Mahira', 'Kunal', 'Anurag'), 10, True, 'Tree')

## Indexing of nested tuples

In [29]:
tuple9 = (('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita'), (56, False, 'Precia', 3.44, 'Mahima', -0.089999), ('Sai', 'Mahira', 'Kunal', 'Anurag'), 10, True, 'Tree')
print("len of tuple9 = ", len(tuple9))
print(tuple9[0])
print(tuple9[1:3])
print(tuple9[0][6])

len of tuple9 =  6
('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita')
((56, False, 'Precia', 3.44, 'Mahima', -0.089999), ('Sai', 'Mahira', 'Kunal', 'Anurag'))
Pranita

## Concatenation of tuples

In [30]:
tuple8 = (tuple2, tuple3, tuple7)
tuple10 = tuple2 + tuple3 + tuple7
print("tuple8 = ", tuple8)
print("tuple10 = ", tuple10)
print(len(tuple8))
print(len(tuple10))

tuple8 =  (('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita'), (56, False, 'Precia', 3.44, 'Mahima', -0.089999), ('Sai', 'Mahira', 'Kunal', 'Anurag'))
tuple10 =  ('Srija', 'Sonali', 'Aditi', 'Akanksha', 'Rozina', 'Abshar', 'Pranita', 56, False, 'Precia', 3.44, 'Mahima', -0.089999, 'Sai', 'Mahira', 'Kunal', 'Anurag')
3
17

## Min, Max, count and index of repeated values in tuples

In [34]:
tuple1= (90, 89, -45, 60, -23, 17, 89)
print("min of tuple1 = ", min(tuple1))
print("max of tuple1 = ", max(tuple1))
print("Count of tuple1 = ", tuple1.count(89)) # count gives how much duplicate values are there!

min of tuple1 =  -45
max of tuple1 =  90
Count of tuple1 =  2

In [37]:
print("Index of 1st 89 in tuple1 = ", tuple1.index(89))
print("Index of next 89 in tuple1 = ", tuple1.index(89, 2))

Count of tuple1 =  1
Count of tuple1 =  6

## Convert list to tuple

In [38]:
list1 = [45, True, "Bird"]
tuple11 = tuple(list1)
print(tuple11)

(45, True, 'Bird')

## Tuple multiplication

In [39]:
tuple12 = (5, 10, 15)
tuple13 = tuple12*3
print(tuple13)

(5, 10, 15, 5, 10, 15, 5, 10, 15)