## **Q1. Formatted Output**
**Print the following using a single print() statement:**  

*Name: Arvind Rathod*  
*Age: 35*  
*Profession: Data Scientist*

In [2]:
print("Name: Arvind Rathod \nAge: 35 \nProfession: Data Scientist")

Name: Arvind Rathod
Age: 35
Profession: Data Scientist

> **Used Escape characters \n**

## **Q2. Dynamic String Formatting**
**Write a program to print:**  

*5 + 3 = 8* 
 
*Using variables for 5, 3, and 8. Replace the numbers dynamically in the string.*

In [3]:
a = 5
b = 3

print(f"{a} + {b} = {a+b}")

5 + 3 = 8

## **Q3. Repeating strings**
**Print the word "Seldom" 5 times on the same line, separated by a comma**

In [6]:
print("Seldom, "*5)

Seldom, Seldom, Seldom, Seldom, Seldom,

In [8]:
print(("Seldom, " * 5).rstrip(", "))

Seldom, Seldom, Seldom, Seldom, Seldom

## **Q4. Right-Aligned Output**
**Print numbers from 1 to 10 in a right-aligned format (each number should occupy 4 spaces)**  

*1*  
*2*  
*3*  
*...*  
*10*

In [3]:
for i in range(0, 11):
    print(f"{i:>4}")

   0
   1
   2
   3
   4
   5
   6
   7
   8
   9
  10

## **Q5. Concatenation without a newline**
**Print the following in a single line (without starting a new line after each print() call):**  

*Welcome to Python programming!*

In [5]:
print("Welcome", end = " ")
print("to", end = " ")
print("Python", end = " ")
print("programming!")

Welcome to Python programming!

>  **using end = " " to print next print line in the same line rather than using \n**

## **Q6. Pyramid Pattern**
**Print the following pyramid using a loop and print()**  

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*  
&nbsp;&nbsp;&nbsp;&nbsp;***  
&nbsp;&nbsp;&nbsp;*****  
&nbsp;&nbsp;*******  
&nbsp;*********

## **Q7. Dynamic table generation**
**Write a program to print the multiplication table of a number n, formatted neatly. For example, if n=5:**  

*5 x 1 = 5*  
*5 x 2 = 10*  
*...*  
*5 x 10 = 50*

## **Q8. Nested loop pattern**
**Print the following pattern (use print() inside nested loops):**  

*1*  
*2 2*  
*3 3 3*  
*4 4 4 4*  
*5 5 5 5 5*