In [2]:
set1 = {"Abhir", True, 1223, 0.09, -5}
print(set1)

{0.09, True, 'Abhir', 1223, -5}

> If you could see above, set's stores value with no defined order and hence we don't have indexing in sets

In [3]:
set2 = {23, 23, 45, 66, 23, 91}
print(set2)

{66, 91, 45, 23}

> If you could analyse the above and notice, we had 23 thrice in the set which was not considered thrice by set.
> which concludes, sets doesn't supprts duplication of values!

In [6]:
set3 = {"Tree", "leaves", "Flower"}
set3[2] = "Fruits"
print(set3)

TypeError: 'set' object does not support item assignment

> The error occurs because sets in Python are unordered collections and do not support indexing or item assignment. You can modify a set by adding or removing elements using methods like .add() or .remove(), but direct access by position is not possible.

In [7]:
set4 = {"Laptop", True, 99,000, 0.09, -500}
print(set4)

{0.09, True, 0, 99, 'Laptop', -500}

> Sets are heterogenous i.e., can save any data type values

In [9]:
set5 = {}
print(set5)
print(type(set5))

{}
<class 'dict'>

In [10]:
set6 = set()
print(set6)
print(type(set6))

set()
<class 'set'>

> set5 = {} initializes set5 as an empty dictionary because {} defaults to a dictionary in Python. To create an empty set, we'll use set() instead!

In [15]:
set7 = {"Python", "Java"}
set7.add("C++")
print(set7)

{'C++', 'Python', 'Java'}

In [16]:
print(len(set7))

3

In [17]:
set7 = {'C++', 'Python', 'Java'}
set7.remove("C++")
set7

{'Java', 'Python'}

In [ ]:
set7.remove("Ruby")

KeyError: 'Ruby'

In [18]:
set7 = {'C++', 'Python', 'Java'}
set7.discard("C++")
set7

{'Java', 'Python'}

In [20]:
set7.discard("Ruby")
set7

{'Java', 'Python'}

In [21]:
set7 = {'C++', 'Python', 'Java'}
set7.clear()
set7

set()

In [24]:
set7 = {'C++', 'Python', 'Java'}
randomly_removed_element = set7.pop()
print(set7)
randomly_removed_element

{'C++', 'Java'}

'Python'

## Adding a tuple to set

In [28]:
set8 = {"age_grps"}
set8.add((26, 18, 30))
set8

{(26, 18, 30), 'age_grps'}

## Adding a list to set

In [29]:
set8 = {"cust_id", "date", "names"}
set8.add([26, 18, 30])
set8

TypeError: unhashable type: 'list'